<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .container {
        background: linear-gradient(
          45deg,
          #e0fbfcff,
          #c2dfe3ff,
          #9db4c0ff,
          #5c6b73ff,
          #253237ff
        );
        color: whitesmoke;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .form-container {
        margin: 4rem;
        padding: 1.5rem;

        height: auto;
        width: 40%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 5px;
      }
      @media screen and (max-width: 768px) {
        .form-container {
          width: 80%;
        }
      }
      .label-text {
        color: black;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: left;
      }
      .input-field {
        height: 3rem;
        width: 100%;
        border: none;
        margin: 3% 0%;
        padding: 2%;
      }
      .submit-btn {
        height: 2.5rem;
        width: 35%;
        background: #1976d2;
        color: white;
        border: none;
        font-size: 16px;
        font-weight: 600;
        margin: 3% 0%;
      }
      .submit-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .link {
        text-decoration: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Reset Your Password for <%= email %></h1>

      <form onsubmit="handleSubmit(event)" class="form-container">
        <input type="hidden" name="userId" value="${id}" />
        <input type="hidden" name="token" value="${token}" />
        <label for="password" class="label-text">New Password</label>
        <input
          type="password"
          name="password"
          id="password"
          required
          class="input-field"
          placeholder="Enter Your New Password"
        />
        <br />
        <label for="confirmPassword" class="label-text">Confirm Password</label>
        <input
          type="password"
          name="password"
          id="confirmPassword"
          class="input-field"
          required
          placeholder="Confirm Your Password"
        />
        <div class="submit-container">
          <button type="submit" class="submit-btn">Reset Password</button>
        </div>
      </form>
    </div>
  </body>
</html>
